<style>
* {
  box-sizing: border-box; 
}
body {
  margin: 0;
}
#main {
  display: flex;
  min-height: calc(100vh - 40vh);
}
#main > article {
  flex: 1;
}
#main > nav, 
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer, main, nav {
  padding: 1em;
}
header, footer {
  background: rgb(148, 172, 102);
  height: 20vh;
}
img { 
    margin:auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  html {
    scroll-behavior: smooth; 
    background-color: #F5DCAE;
  }
  body {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }
  h1 {
color: #1d4109;
font: bold 64px Denk one;
  }
  }
  
  .nav-link {
    transition: .3s;
  }
</style>