body {
  font-family: 'Josefine Sans', sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
h1 {
  font-family: 'Josefin+Sans:ital', sans-serif;
  text-align: center;
  color: rgb(131, 67, 47);
}
img {
  align-items: center;
}