<style>
img {
    margin:auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  html {
    scroll-behavior: smooth; 
  }
  h1 {
      font-size: large;
      font: italic bold 24px Arial;
  }
</style>