html {
  scroll-behavior: smooth; 
}
body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #046611;
  background-color: rgb(169, 151, 185);
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.section-title {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #046611;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  align-content: center;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color:721010;
}
img {
  align-items: center;
  margin: auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  list-style: none;
  font-family: 'Josefin Sans';
  color: black;
font-size: 40px;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-size: 30px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
