
html {
  scroll-behavior: smooth; 
  background-color:#e95916;
}
header, footer { 
  background-color: #fafaf6;
  color:#e95916;
}
main {
  align-content: center;
  
   
}
h1 {
  text-align: center;
  align-content: center;
  margin-left: 20px;
    margin-right: auto;
}
img {
  align-content: center;
  align-items: center;
}
footer {
  align-content: center;
  
}
body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  color: #046611;
  background:#e95916;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: #829985;
  transition: color 0.5s;
}

.link:hover {
  color: #5d7260;
}
.section-title {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #046611;
}
body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: auto;

}


.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-list {
  list-style: none;
  font-family: 'Josefin Sans';
  color: black;
font-size: 40px;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-size: 30px;
  color: #e95916;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name {
  text-align: center;
}
.section-title {
  color: #f7f6f5;
  text-align: center;

}
.section {
  
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 2px solid #f7f6f5;
  align-items: center;
  
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }

}
