<style>
img {
    margin:auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-list {
    list-style: none;
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }
  html {
    scroll-behavior: smooth; 
  }
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }
  }
  header {
      background-color: DAC3F7;
  }
  .nav-link {
    transition: .3s;
  }
</style>